* {
  box-sizing: border-box;
}

.hero-bg {
  background: linear-gradient(-90deg, #043714, #24034a, #000000);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  background-color: ;
}
@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
