* {
  box-sizing: border-box;
}
body {
  background-color: #000000;
}
.hero-bg {
  background: linear-gradient(-90deg, #043714, #24034a, #000000);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}
@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.bg-about-me {
  background-size: 142% 149%;
  background-position: 0px 0px;
  background-image: radial-gradient(
    144% 91% at -67% 6%,
    #036fcdff 0%,
    #000000ff 100%
  );
}
